# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Virtual environments
venv/
.env/
.venv/
*.conda/

# Scrapy output data
*.csv
*.json
*.xml

# OS / Editor files
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Track feeds.json
!feeds.json

# Track headlines.csv for GitHub Actions
!headlines.csv
!daily_summary.csv

#Track market_sentiment_csv
!market_sentiment_results.csv

# CSV/analysis outputs (if you don’t want to track them)
news_sentiment/sentiment_plots/
news_sentiment/market_plots/
*.png

# Node.js / Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# package.json
!package.json
!package-lock.json
