# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Virtual environments
venv/
.env/
.venv/
*.conda/

# Scrapy output data
*.csv
*.json
*.xml

# OS / Editor files
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Track feeds.json
!feeds.json
